@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.custom-form{
    color: #ce0e2d;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
    width: 400px;
    height: 500px;
    max-height: 80%;
    background: linear-gradient(to right,#edfdff,#cffafe);
    border-radius:15px ;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    font-family: 'Roboto', sans-serif;
}

.custom-form div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

h3{
    display: none;
    position: absolute;
    font-size:30px;
    left: 65px;
    bottom: 5px;
    color: #ce0e2d;
    text-decoration: underline;
}

img{
    width: 100px;
    transition: 1s all;
    border-radius: 15px;
    display: flex;
}

img:hover{
    width: 120px;
    box-shadow: #ce0e2d 0px 5px 30px 1px;
    padding: 10px;
}

h1{
    font-size: 25px;
}

h4{
    height: 50px;
    text-align: center;
    justify-content: center;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 400;
}