.custom-input{
    width: 300px;
    max-width: 80%;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #ce0e2d;
    background-color: transparent;
    padding-left: 20px ;
    box-sizing: border-box;
    margin: 10px 0;
    transition: 0.5s all;
}

.custom-input:hover,.custom-input:focus{
    background-color: #ce0e2d;
    color: white;
}

.custom-input:focus::placeholder,.custom-input:hover::placeholder{
    color: white;
}