button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #1e40af;
    color: #1e40af;
    font-weight: 600;
    transition: 1s all;
}

button:hover{
    font-size: 105%;
    width: 105px;
    height: 35px;
    background-color: #1e40af;
    color: white;
    border: 1px solid white;
}